---
import Layout from "../../../layouts/Layout.astro";
import ForumCard from "../../../components/ForumCard.astro";
import { supabase } from "../../../lib/supabase";

//consultamos los foros
const { data: foros, error: errorForo } = await supabase
  .from("forums")
  .select("*, users!inner(username)")


---

<Layout title="Tuna Awainan | Expertos">

    <div class=" ">
      {
        foros?(<>
        <h2>Foros publicados: {foros.length}</h2>
        <h1 class="text-5xl font-bold text-center -mt-4">Hablando con Expertos</h1>
        {foros?.map((foro)=>(
            <ForumCard id={foro.id} title={foro.title} content={foro.content} author={foro.users.username} date={foro.date.toString()}/>
          ))} </>
        ): (
        <h2>No hay foros publicados hasta los momentos.</h2>
        )
      }
      
    </div>
    
  <footer class="bg-white h-10p border-1 p-5 text-xs text-bold">

      Tuna awainan no se hace responsable por la información que suban los usuarios a esta página.

    </footer>
</Layout>

<style>

  a{
      margin: 60px 20px; 
    }

  .p-1{
    width: 80%;
    height: 100%;
    display:grid;
    grid-template-columns: 120px 90%;
    grid-template-rows: 600px;
  }
  h2{
    margin: 20px 30px; 
  }
  h1{
    font-family: "Quicksand Variable", "Helvetica", Arial, sans-serif;
  }

</style>
