---
import { convertCompilerOptionsFromJson } from "typescript";
import ForumCard from "../../../components/ForumCard.astro";
import Layout from "../../../layouts/Layout.astro";
import { supabase } from "../../../lib/supabase";
import BackButton from "../../../components/BackButton.astro";


//consultamos los pots
const { data: articles, error: errorArticles } = await supabase
  .from("posts")
  .select(" id, user_id, title, coverimage, content, author")
  .is("user_id", null, false);

console.log(articles)
console.log(errorArticles)
---

<Layout title="Tuna-Awainan: comunidad">

    <section >
        {
          articles?
          articles?.map((article)=>(
              <ForumCard id={article.id} title={article.title} content={article.content} image={article.coverimage} authro={article.author}/>
            )) :
          <h2>No hay publicaciones hasta los momentos.<br> ¡Puedes ser el primero! Postea</h2>
        }
   </section>
    <BackButton page="../comunity"/>
    <div class="ml-2 mr-2 sm:ml-32 sm:mr-32 items-center justify-center post mt-6">

      <a href="#1" class="col-start-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Postear</a>

       <div class="mb-8 mt-8 bg-white p-6 rounded-lg shadow-md transition-all duration-300 w-1/2 unregistred w-full">
        <h2 class="text-2xl font-bold text-gray-900">Debes estar registrado para poder postear</h2>
        <button class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Confirm</button>

       </div>

          <form id="1"
          method="POST"
          class="mb-8 mt-8 bg-white p-6 rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl "
        >
          <div class="mb-4">
            <label
              for="content"
              class="block text-sm font-medium text-gray-700 mb-1"
              >Tu post</labels>
            <textarea id="content" name="content"
              rows="4"
              required
              class="w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition-all duration-300"
              placeholder="Escribe tu post aquí"></textarea>
          </div>
          <button
            type="submit"
            class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-all duration-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 inline-block mr-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
                clip-rule="evenodd"></path>
            </svg>
            Enviar Post
          </button>
        </form>

        

    </div>

</Layout>

<style>

button{


  width: 100px;
  margin: 20px 60px;

}
section{
  overflow-y:scroll;
  height: 550px;
  border-bottom: 5px solid black;
}


a{
  margin-top:50px;
}

h2{
  margin:40px 80px;
  witdh: 800px;
  font-size:30px
}

</style>