---
import Layout from "../../../layouts/Layout.astro";
import { supabase } from "../../../lib/supabase";

// Obtener los parámetros de búsqueda de la URL
const querySearch = new URLSearchParams(Astro.url.search);
const nameQueryToSearch = querySearch.get("name");

// // Filtrar los artículos por categoría


// Obtener la cantidad total de artículos
const { count: totalArticles, error: errorTotalArticles } = await supabase
  .from("articles")
  .select("title, id,  tags!inner(*) , coverimage, content", { count: "exact" })
  .ilike("tags.name",`%${nameQueryToSearch}%`)


// Obtener los artículos para la página actual
const { data: articles, error: errorArticles } = await supabase
  .from("articles")
  .select("title, id,  tags!inner(*), coverimage, content")
  .ilike("tags.name", `%${nameQueryToSearch}%`)

const { data: categories, error: errorCategories } = await supabase
  .from("tags")
  .select("name, id")
  .order("name", { ascending: true })
  
// Redirigir a la página 404 si la página es inválida
if (!totalArticles || errorTotalArticles) {
  return Astro.redirect("/404");
}

---

<Layout title="Tuna Awainan | Artículos">

  <!-- cotenedor de menu de categorias -->
  <div class="container mx-auto px-4 py-2 bg-[#0aaccb] ">
    <h2 class="font-custom flex justify-center text-2xl font-bold text-white mb-4">Categorías</h2>
    <!-- Contenedor de categorias -->
    <div class="flex flex-wrap justify-center space-x-4 overflow-x-auto hide-scroll-bar">
      {
        categories.map((category) => (
        <a
          href={`/categories/articles?name=${category.name}`}
          class="mb-3 text-white bg-[#0aaccb] hover:bg-[#087b9b] text-md font-medium rounded-full px-4 py-1
                  transition-colors duration-300 whitespace-nowrap"
        >
          {category.name}
        </a>
        ))
      }
    </div>
  </div>

  <!--contenedor principal -->
  <section class="w-full px-24 sm:px-5  pt-8 grid grid-cols-1 mx-auto">
    <div class="font-custom max-w-screen-xl mx-auto gap-8">
      <section class="sticky top-0 z-10 w-full bg-white shadow-sm border-b border-gray-100">
  
    <div class="flex flex-col gap-4">
      <header>
        <!--
        <h1 class="text-5xl font-bold text-center my-6 mb-4">Artículos</h1>
        -->
        <p class="text-base text-gray-700 dark:text-gray-400 ">
          {articles.length} Artículos encontrados de la categoría  
          <span>
            {nameQueryToSearch?.toLowerCase()}
          </span>   
        </p>
      </header>

      <!--aqui se muestran los articulos -->
      <div class="container-article">
        <ul class="grid grid-cols-1 max-w-screen-xl gap-8">
          {
            articles.map((article) => (
              <li class="w-full">
                <a
                  href={`/categories/articles/${article.id}`}
                  class="grid grid-cols-1 border-x-lime-100 lg:grid-cols-2 w-full items-stretch bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
                >
                  <img
                    class="object-cover w-full h-full rounded-t-lg md:rounded-none md:rounded-s-lg"
                    src={article.coverimage}
                    alt=""
                  />
                  <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl text-pretty truncate font-bold tracking-tight text-gray-900 dark:text-white">
                      {article.title}
                    </h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                      {article.content.substring(0, 100) + "..."}
                    </p>
                    <button
                      type="button"
                      class="button text-white mt-auto bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                    >
                      Leer
                    </button>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      
 
    </div>

    <!-- <iframe src="https://www.google.com/maps/d/embed?mid=1U7JgK1tiNhPmm3c4IShNrrC1txqy6aI&ehbc=2E312F" height="480" class="w-full mt-10 mb-10"></iframe>
    -->

    </div>
  </section>


</Layout>


<style>
  .ajuste-izq{
    left: -4em;
  }

  .ajuste-der{
    right: -5em;
  }

  .button{
      background-color: #0aaccb;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  }

  .button:hover {
        background-color: #0aaccbd4;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }

  span{
    color: #0aaccbd4;
  }

  /* .categoria-seleccion{
    background-color: #0aaccbc9;
    color: white;
    width: 50%;
    min-width: max-content;
}

  .categoria-seleccion:hover {
        background-color: #0aaccbd4;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
  } */

/* ocultar la barra de desplazamiento */
  .hide-scroll-bar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;  
  }

  .font-custom{
    font-family: "Quicksand Variable", "Helvetica", Arial, sans-serif;
  }
</style>